{% load static %}
<html>
    <head>
        <title>Page not yet created</title>
        <link rel="stylesheet" href="{% static 'assets/css/errorpage.css' %}" />
    </head>
	<body>
		<!--<p>page_404</p>-->
		<div class="container">
			<!--<p>container</p>-->
		</div>
		<div class="page_404">
			<h1 class="title_404">404 Error:<br>Page Lost</h1>
			<h3 class="hdw">Hey! Don't worry! The problem is I didn't<br>created the page.</h3>
			<a class="backlink" href="index">Back to Home</p>
			<!--<div class="col-sm-12">
				<div class="col-sm-10 col-sm-offset-1  text-center">
					<div class="four_zero_four_bg">
						<h1 class="text-center ">404</h1>
					</div>
					<div class="contant_box_404">
						<h3 class="h2">
							Hey don't worry! The problem is I didn't created the page here.
						</h3>
						<p>The page you are looking for not avaible!</p>
						< !--<a href="" class="link_404">Go to Home</a>-- >
					</div>
				</div>
			</div>-->
		</div>
	</body>
</html>